<!doctype html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.3/font/bootstrap-icons.min.css">
    <!-- End Bootstrap CSS -->

    <!--Google Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <!--Custom Css-->
    <link rel="stylesheet" href="./CSS/style.css">

    <!--End Custom Css-->
</head>
<section
        id="topbar"
        class="mb-2 mb-lg-0 mb-sm-0 d-none d-lg-flex align-items-center pt-2 pb-2 bg-primary text-white topbar-transparent"
>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 text-start">
          <span class="px-3"
          ><i class="bi bi-phone"></i> +977-9841458239
          </span>
                <i class="bi bi-clock"></i> Mon-Sat: 10:00 AM - 10:00 PM
            </div>
            <div class="col-md-6 text-end">
                <a href="" class="me-4 text-reset">
                    <i class="bi bi-facebook"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="bi bi-twitter"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="bi bi-google"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="bi bi-instagram"></i>
                </a>
            </div>
        </div>
    </div>
</section>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img src="../static/Item_img/company.png" height="100" width="100" class="circular-image" />




    <div class="container">
        <a class="navbar-brand" href="index.html">
            <h2 class="fw-bold  mb-2 mb-lg-0 mb-sm-0">R-Shoes</h2>

        </a>
        <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <span class="bi bi-list"></span>
        </button>
        <div class="collapse navbar-collapse" id="">
            <ul class="navbar-nav m-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="index.html">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link dropdown-toggle" href="#" id="our-branch-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Our-Branch
                    </a>
                    <div class="dropdown-menu" aria-labelledby="our-branch-dropdown">
                        <a class="dropdown-item" th:="">Kathmandu</a>
                        <a class="dropdown-item" th:="">Chitwan</a>
                        <a class="dropdown-item" th:="">Pokhara</a>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="index.html">Delete Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="index.html">Active Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact.html">Contact us</a>
                </li>
                <form class="d-flex" th:action="@{/buyer/search}" th:method="post">
                    <input class="form-control me-2" type="search" name="searchName" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </ul>
            <ul class="navbar-nav mb-2 mb-lg-0 action-menu">
                <li class="nav-item">
                    <a class="nav-link" href="login.html">
                        <i class="bi bi-person"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- home.html -->

<body>

                <!--        <li class="nav-item dropdown">-->
                <!--          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">-->
                <!--            Dropdown-->
                <!--          </a>-->
                <!--          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">-->
                <!--            <li><a class="dropdown-item" href="#">Action</a></li>-->
                <!--            <li><a class="dropdown-item" href="#">Another action</a></li>-->
                <!--            <li><hr class="dropdown-divider"></li>-->
                <!--            <li><a class="dropdown-item" href="#">Something else here</a></li>-->
                <!--          </ul>-->
                <!--        </li>-->


            <!--      <li class="nav-item">-->
            <!--        <a class="nav-link" href="#">Account</a>-->
            <!--      </li>-->
        </div>
    </div>
</nav>
<!-- Content specific to the home page -->
<main  >

    <div class="container-fluid mt-3 pt-3">
        <div class="h1 text-center mt-5">
            Add Item
        </div>
        <div class="row">

            <div class="col-8">
                <div class="ms-4">

                    <form th:action="@{/seller/item/save}" th:method="post"  enctype="multipart/form-data">
                        <div class="form-group mb-4">
                            <label for="name">Item Name</label>
                            <input type="text" class="form-control" id="name" name="itemName" placeholder="Enter Item Name">
                        </div>
                        <div class="form-group mb-4">
                            <label for="description">Item Description</label>
                            <textarea type="text" class="form-control" id="description" name="itemDescription" placeholder="Enter Item Description">
                </textarea>
                        </div>
                        <div class="form-group mb-4">
                            <label for="price">Item Price</label>
                            <input type="number" class="form-control" id="price" name="itemPrice" placeholder="Enter Item Price">
                        </div>
                        <div class="form-group mb-4">
                            <label for="quantity">Item Quantity</label>
                            <input type="number" class="form-control" id="quantity" name="itemQuantity" placeholder="Enter Item Quantity">
                        </div>
                        <div class="form-group mb-4">
                            <label for="image">Item Image</label>
                            <input type="file" class="form-control" id="image" name="itemImage" accept="image/*" >
                        </div>
                        <div class="form-group mb-4 ">
                            <div class="row">
                                <div class="col-2  me-3`">
                                    <label for="sel1" class="form-label">Select Category</label>
                                    <select class="form-select" id="sel1" name="category">
                                        <option th:each="category:${categories}" th:text="${category.catName}" th:value="${category.catId}"></option>
                                    </select>
                                </div>
                                <div class="col-3">
                                    <!-- Button to Open the Modal -->
                                    <button type="button"  style="margin-top: 30px" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
                                        Add category
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group mt-4">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
            <!--Display Image -->
            <div class="col-2">
                <img  id="preview-image"style="width: 500px;height: 500px;padding-left: 40px;border: black" class="img-fluid" alt="Product IMG">
            </div>
        </div>
    </div>
</main>
<div class="footer pt-3"></div>
<!--Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Modal Heading</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form th:action="@{/category/add}" th:method="post">
                    <div class="mb-3">
                        <label for="catName" class="form-label">Category Name</label>
                        <input type="text" class="form-control" id="catName" placeholder="Enter category name" name="catName">
                    </div>
                    <button type="submit" class="btn btn-primary">Add Category</button>
                </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

<script>
    // JavaScript code for updating the selected image
    document.getElementById('image').addEventListener('change', function(event) {
        var file = event.target.files[0];
        var reader = new FileReader();
        reader.onload = function(e) {
            document.getElementById('preview-image').src = e.target.result;
        };
        reader.readAsDataURL(file);
    });
</script>
</body>

</html>
<!-- Optional JavaScript; choose one of the two! -->






<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

<!-- Footer -->
<footer class="text-center text-lg-start bg-primary py-3 text-white mt-5">
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="bi bi-gem me-3"></i>R-Shoes


                    </h6>
                    <p>
                        This is the platfrom where you can find the best shoes for you.
                        Most of the shoes are made in Nepal but this shoes famous all over the world.
                        All shoes are made by the best designer of the world and checked by Rushmit Karki.
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">Products</h6>
                    <p>
                        <a href="#!" class="text-reset">Branches</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Cost</a>
                    </p>

                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">Advantages</h6>
                    <p>
                        <a href="#!" class="text-reset">Better Quality</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Low Cost</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Booking</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Help</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                    <p>
                        <i class="bi bi-location me-3"></i> Kathmandu, Sitapila, Nepal
                    </p>
                    <p>
                        <i class="bi bi-envelope me-3"></i>
                        info@R-shoes.com
                    </p>
                    <p><i class="bi bi-phone me-3"></i> +977-9841458239</p>
                    <p><i class="bi bi-print me-3"></i> +977-9843536913</p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div
            class="text-center py-4"
            style="background-color: rgba(0, 0, 0, 0.05)"
    >
        © 2021 Copyright:
        <a class="text-reset fw-bold" href="https://mdbootstrap.com/"
        >R-shoes</a
        >
    </div>
    <!-- Copyright -->
</footer>

</body>

</html>