<!doctype html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.3/font/bootstrap-icons.min.css">
    <!-- End Bootstrap CSS -->

    <!--Google Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <!--Custom Css-->
    <link rel="stylesheet" href="./CSS/style.css">

    <!--End Custom Css-->
</head>
<section
        id="topbar"
        class="mb-2 mb-lg-0 mb-sm-0 d-none d-lg-flex align-items-center pt-2 pb-2 bg-primary text-white topbar-transparent"
>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 text-start">
          <span class="px-3"
          ><i class="bi bi-phone"></i> +977-9841458239
          </span>
                <i class="bi bi-clock"></i> Mon-Sat: 10:00 AM - 10:00 PM
            </div>
            <div class="col-md-6 text-end">
                <a href="" class="me-4 text-reset">
                    <i class="bi bi-facebook"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="bi bi-twitter"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="bi bi-google"></i>
                </a>
                <a href="" class="me-4 text-reset">
                    <i class="bi bi-instagram"></i>
                </a>
            </div>
        </div>
    </div>
</section>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img src="../static/Item_img/company.png" height="100" width="100" class="circular-image" />




    <div class="container">
        <a class="navbar-brand" href="index.html">
            <h2 class="fw-bold  mb-2 mb-lg-0 mb-sm-0">R-Shoes</h2>

        </a>
        <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <span class="bi bi-list"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav m-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="index.html">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link dropdown-toggle" href="#" id="our-branch-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Our-Branch
                    </a>
                    <div class="dropdown-menu" aria-labelledby="our-branch-dropdown">
                        <a class="dropdown-item" href="#">Kathmandu</a>
                        <a class="dropdown-item" href="#">Chitwan</a>
                        <a class="dropdown-item" href="#">Pokhara</a>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="index.html">Gallery</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact.html">Contact us</a>
                </li>
            </ul>
            <ul class="navbar-nav mb-2 mb-lg-0 action-menu">
                <li class="nav-item">
                    <a class="nav-link" href="login.html">
                        <i class="bi bi-perso   n"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container login-form">
    <div class="row mt-4 justify-content-center">

        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <div class="offest-md-4">
                        <h1 class="text-center mt-4 mb-4 fw-bolder">Login</h1>
                        <form class="form-login">
                            <!-- Email input -->
                            <div class="form-outline mb-4">
                                <label class="form-label" for="form2Example1">Email address</label>
                                <input type="email" id="form2Example1" class="form-control" placeholder="E-mail" />
                            </div>
                            <!-- Password input -->
                            <div class="form-outline mb-4">
                                <label class="form-label " for="form2Example2">Password</label>
                                <!-- Simple link -->
                                <a href="#!" class="float-end text-primary">Forgot password?</a>
                                <input type="password" id="form2Example2" class="form-control" placeholder="Password"/>
                            </div>
                            <!-- 2 column grid layout for inline styling -->
                            <div class="row mb-4">
                                <div class="col d-flex">
                                    <!-- Checkbox -->
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="form2Example31"
                                               checked />
                                        <label class="form-check-label" for="form2Example31"> Remember me </label>
                                    </div>
                                </div>
                            </div>

                            <!-- Submit button -->
                            <div class="col-md-12">
                                <button type="button" class="col-12 btn btn-primary btn-block mb-4">Sign
                                    in</button>
                            </div>
                            <p class="text-center"> Don't have account yet?<a href="register.html" class="text-primary"> Sign up</a></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

<!-- Footer -->
<footer class="text-center text-lg-start bg-primary py-3 text-white mt-5">
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="bi bi-gem me-3"></i>R-Shoes


                    </h6>
                    <p>
                        This is the platfrom where you can find the best shoes for you.
                        Most of the shoes are made in Nepal but this shoes famous all over the world.
                        All shoes are made by the best designer of the world and checked by Rushmit Karki.
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">Products</h6>
                    <p>
                        <a href="#!" class="text-reset">Branches</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Cost</a>
                    </p>

                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">Advantages</h6>
                    <p>
                        <a href="#!" class="text-reset">Better Quality</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Low Cost</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Booking</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Help</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                    <p>
                        <i class="bi bi-location me-3"></i> Kathmandu, Sitapila, Nepal
                    </p>
                    <p>
                        <i class="bi bi-envelope me-3"></i>
                        info@R-shoes.com
                    </p>
                    <p><i class="bi bi-phone me-3"></i> +977-9841458239</p>
                    <p><i class="bi bi-print me-3"></i> +977-9843536913</p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div
            class="text-center py-4"
            style="background-color: rgba(0, 0, 0, 0.05)"
    >
        © 2021 Copyright:
        <a class="text-reset fw-bold" href="https://mdbootstrap.com/"
        >R-shoes</a
        >
    </div>
    <!-- Copyright -->
</footer>

</body>

</html>